button{
    margin-left: 88px;
    margin-top: 18px;
}
a{
    margin-left: 58px;
    margin-top: 18px;
}
h2{
    text-align: center;
    color: #ffffff;
}
.loginnn{
 
    margin-top: 82px;
   
    border-radius: 30%;

}
.loginnn img{
    padding-top: 25px;
    padding-left: 99px;
}
                                                          
