<div class="col-xs-12 col-sm-12 col-md-12 " style="background:url(assets/images/Hands-on-slider-new.jpg);height: 520px;">

    <div class="col-md-3 loginnn" style="background:url(assets/images/Hands-on-slider-new.jpg)">
      
       
    <h2>LOGIN</h2>
    <form (ngsubmit)="login()">
      <div>
        
        <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="model.name" placeholder="User Name">
      </div>
      <br>
      <div>
  
          <input type="password" class="form-control" name="qu" id="qu" required [(ngModel)]="model.qu" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success" (click)="dashboard()">Login</button>
    </form>
    <br>
   
  </div>
  
  
  <div class="col-md-offset-4"></div>
  </div>
