<!--The content below is only a placeholder and can be replaced.-->

<div class="row"><div class="col-md-12 headerline">
  <span>
  <img src="assets/images/asmltd-logo.png"/>
  
  <h1>
  ASM Internals
  </h1>
  <ul class="nav navbar-nav menubar" style="float:right">
    <li><a [routerLink]="['home']">HOME</a></li>
    <li><a routerLink="/aboutus">About Us</a> </li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/logout">Logout</a></li>
    
  </ul>
</span>
</div>
</div>
<div class="row">
    <router-outlet></router-outlet>
</div>


