<div class="col-md-9">
<div class="col-md-12">
 
  <div class="table table-striped" *ngFor="let students of student">
    <thead> <h2>Profile</h2></thead>
    <tbody>
    <tr >
      <th>Name</th>
      <th>
         {{students.name}}
      </th>
    </tr>
    <tr >
      <th>gender</th>
      <th>
         {{students.gender}}
      </th>
    </tr>
    <tr >
      <th>employee id</th>
      <th>
         {{students.Percentage}}
      </th>
    </tr>
    <tr >
      <th>Profile</th>
      <th>
         {{students.Profile}}
      </th>
    </tr>
    <tr >
      <th>mobile number</th>
      <th>
         {{students.no}}
      </th>
    </tr>
  </tbody>
   
  </div>
  </div>
</div>
  