<div class="col-md-9">
    <div class="col-md-12">
        <div class="col-md-6 box">
            <h5>Total no. of Employees</h5>
            <span>{{Total}}</span>

        </div>
        <div class="col-md-6 box">
            <h5>Working in office</h5>
            <span>{{home}}</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6 box">
            <h5>Working at home</h5>
            <span>{{office}}</span>
        </div>
        <div class="col-md-6 box">
            <h5>Working Onsite</h5>
            <span>{{site}}</span>
        </div>
    </div>
</div>