
<div>
  <ul class="col-md-3 dashlist">
    <li>
      <a [routerLink]="['/home']">Details</a>
    </li>
    <li>
      <a routerLink="comp2">Employees List</a>
    </li>
    <li>
      <a [routerLink]="['comp3']">View Profile</a>
    </li>
    <li>
      <a [routerLink]="comp4">Working in ofc</a>
    </li>
    <li>
      <a [routerLink]="comp1">Working at home</a>
    </li>
   
    <li>
      <a [routerLink]="['/home']">Details</a>
    </li>
    <li>
      <a routerLink="comp2">Employees List</a>
    </li>
    <li>
      <a [routerLink]="['comp3']">View Profile</a>
    </li>
    <li>
      <a [routerLink]="['comp2']">Working in ofc</a>
    </li>
    <li>
      <a [routerLink]="['comp2']">Working at home</a>
    </li>
    </ul>

</div>

<router-outlet></router-outlet>